CONFIG_GZIP=y
CONFIG_GUNZIP=y
CONFIG_TAR=y
CONFIG_FEATURE_TAR_AUTODETECT=y
CONFIG_FEATURE_TAR_GNU_EXTENSIONS=y
CONFIG_FEATURE_SEAMLESS_GZ=y
CONFIG_FEATURE_GUNZIP_LONG_OPTIONS=y
CONFIG_FEATURE_GZIP_LONG_OPTIONS=y
CONFIG_FEATURE_TAR_LONG_OPTIONS=y
CONFIG_FEATURE_TAR_CREATE=y
CONFIG_AWK=y
FEATURE_AWK_GNU_EXTENSIONS=y
CONFIG_MOUNTPOINT=y